* ul {
    margin:0;
    padding:0;
    list-style:none;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #151719;
    justify-content: center;
    align-items: center;
}
.logo {
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 150px;
}
.lst-btn{
    list-style:none;
    text-align:center;
}

.toggle-button {
    margin:10px 10px 0px 10px;
    padding:10px 5px 10px 5px;
    width: 250px; /*tamaño del boton*/
    cursor: pointer; /*Permite elegirlo*/
    background-color: transparent; /*Fondo*/
    border: none;/*los bordes*/
    font-size: 16px;
    color: rgba(230, 230, 230, .9);
    font-size: 17pt;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

a {
    text-decoration: none;
    color: rgba(230, 230, 230, .9);
    font-size: 10pt;
}

a:hover {
    color: #007bff;
}

/*----------------------------------------------------------------------Links Inicio*/
/*Link Comarch*/
.sub-menu-1 li a[href="http://192.168.21.184:8080/fsm/login.page"] {
    text-decoration: none;
    color: rgba(230, 230, 230, .9);
}
.sub-menu-1 li a[href="http://192.168.21.184:8080/fsm/login.page"]:hover {
    color: #007bff;    
}
/*Link Aplicaciones RS*/
.sub-menu-1 li a[href="http://192.168.21.104/WebApplication_operations/index.jsp"] {
    text-decoration: none;
    color: rgba(230, 230, 230, .9);
}
.sub-menu-1 li a[href="http://192.168.21.104/WebApplication_operations/index.jsp"]:hover {
    color: #007bff;    
}
/*----------------------------------------------------------------------Links Fin*/

/*-----------------------------------------------------Inicio Mensajes Emergentes*/
.popup {
    position: absolute;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9999;
}
/*-----------------------------------------------------Fin Mensajes Emergentes*/

#sub-menu {
    text-align: center;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.show .sub-menu {
    display: block;
    animation: slide-down 0.5s ease;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#contenido {
    flex-grow: 1;
    margin-left: 300px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Responsive Pantallas medianas*/
@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        width: 200px;
        height: 100%;
        background: #151719;
    }
    .logo {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 75px;
        height: 75px;
    }
}
/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    #sidebar{
        position:fixed;
        width:150px;
        height: 100%;
        background: #151719;
    }

    #sidebar ul li {
        color: rgba(230, 230, 230, .9);
        text-align: center;
        padding: 15px 10px;
        list-style: none;
        margin-right: 25px;
        border-bottom: 1px solid rgba(100, 100, 100, .3);
    }
    .logo {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
    }
}
