<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CRUD.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout_main.css" />
    <link rel="stylesheet" href="~/css/tablas.css" />
</head>
<body>
    <div id="sidebar">
        <div id="img">
            <img src="img/603156.png" alt="Logotipo" class="logo">
        </div>
        <div class="List-Elements">
            <ul class="nav-item">
                <li>
                    <button type="button" class="toggle-button">DB ResetServices</button>
                    <ul class="sub-menu">
                        <li><a href="~/AppsUsers/Index">Usuarios</a></li>
                        <li><a href="~/AppsApplications/Index">Aplicaciones</a></li>
                        <li><a href="~/AppsSchemes/Index">Esquemas</a></li>
                        <li><a href="~/AppsSchemeApps/Index">App/Esq</a></li>
                        <li><a href="~/AppsUserSchemeApps/Index">Usr/App/Esq</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" class="toggle-button">APP ResetServices</button>
                </li>
                <li>
                    <button type="button" class="toggle-button">Salud Ocupacional</button>
                </li>
            </ul>
        </div>
    </div>
    <div id="contenido">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Layout.js" asp-append-version="true"></script>
    <script src="~/js/ordenamientoTabla.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
