@model CRUD.Models.AppsSchemeApp

@{
    ViewData["Title"] = "Crear Relacion Esq/App";
}

<h1>Crear Relacion Esquema/Aplicacion</h1>

<h4>Tabla: AppsSchemeApp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="ctext" class="form-group">
                <label asp-for="Id" class="control-label">#ID</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div id="ctext" class="form-group">
                <label asp-for="IdAppsScheme" class="control-label">ID del Esquema</label>
                <input asp-for="IdAppsScheme" class="form-control" />
                <span asp-validation-for="IdAppsScheme" class="text-danger"></span>
            </div>
            <div id="ctext" class="form-group">
                <label asp-for="IdAppsApps" class="control-label">ID de la App</label>
                <input asp-for="IdAppsApps" class="form-control" />
                <span asp-validation-for="IdAppsApps" class="text-danger"></span>
            </div>
            <div id="btn" class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar...</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
